.bg-holder{
  background: linear-gradient(to bottom, rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 1)),url("https://cdn.wallpapersafari.com/24/74/zgeTuV.jpg");

}
body {
  margin: 0px;
  padding: 0px;
  color: white;
  font-family: "Netflix Font 400", sans-serif;
  font-weight: 400;
}

/* general elements  */

button {
  background-color: rgb(229, 9, 20);
  color: white;
  padding: 0rem 1.5rem;
  height: 2.5rem;
  border: 1px solid white;
  border-radius: 0.5rem;
  justify-content: center;
}

button:hover {
  cursor: pointer;
}

input {
  width: 60%;
  height: 2.5rem;
  padding: 0rem 1.5rem;
  background-color: rgb(15, 17, 22);
  color: white;
  border-radius: 0.6rem;
  font-size: 16px;
}

input::placeholder {
  font-size: 16px;
  color: white;
  opacity: 0.7;
}

h1 {
  font-size: 4rem;
}

h2 {
  font-size: 2rem;
}

/*general elements end*/

/* layout elements  */
.container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  /* border: 2px solid blue; */
  flex-wrap: wrap;
  overflow: hidden;
}

/* layout elements  end */

/* specific classes  */

/* 1. navbar start  */

.actions {
  margin: 2rem;
  padding: 0.5rem 1rem;
  display: flex;
  justify-content: space-around;
  align-items: center;
  gap: 1.5rem;
  max-width: 25%;
  /* flex-wrap: wrap; */
  overflow: clip;
}

.actions button {
  padding: 0.5em 1em;
}

.actions .languagepicker {
  padding: 0.5em 1em;
  height: 2.5rem;
  border: 1px solid black;
  border-radius: 0.5rem;
  background-color: rgb(25,22,24);
  color: white;
}

#logo {
  height: 100px;
  width: 100%;
}

/* 1. navbar end  */

/* 2. main content start*/

.main-content{
  padding: 1rem;
}

.content {
  width: 60%;
  position: relative;
  /* border: 1px solid blue; */
  overflow: hidden;
  padding: 3rem 4rem;
}

.email-box{
  display: flex ;
  flex-wrap: wrap;
  border: 1px solid red;
  gap: 0.2rem;
  width: 100%;
}

.email-box button{
  height: 2.5rem;
  font-size: 16px;
  padding: 0rem 1.5rem;
}


/* 2. main content end*/

/*3.cards start*/

.cards-content{
  background-color: rgb(0,8,29);
}

.card h2 {
  font-size: 1.5rem;
}

.cards {
  padding: 0.5rem;
  justify-content: center;
  gap: 1rem;
}

.card {
  height: 25rem;
  border-radius: 0.5rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 45%;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
  background-image: linear-gradient(
    to bottom right,
    rgb(11, 20, 60),
    rgb(64, 14, 32)
  );
}

.card img {
  width: 60%;
}

.card-content {
  width: 80%;
  
}

/*3.cards end*/

/* specific classes end  */

/* media queries start  */

@media screen and (max-width: 769px) {
  .content {
    width: 100%; /* Width for small devices */
  }
  .actions {
    max-width: 100%;
    margin: 1rem;
    padding: 1rem;
    gap: 0.5rem;
  }

  .content {
    padding: 0px;
  }

  .email-box{
    width: 90%;
  }

}

@media screen and (max-width: 575.98px) {
  .content {
    width: 100%; /* Width for small devices */
  }
  .actions {
    max-width: 50%;
    margin: 1rem;
    padding: 1rem;
    gap: 0.5rem;
  }

  .content {
    padding: 0px;
  }

  .card{
    width: 90%;
  }

  .email-box{
    width: 90%;
  }

}

@media screen and (max-width: 372px) {
  .content {
    width: 100%; /* Width for small devices */
  }
  .actions {
    width: 100%;
    margin: 1rem;
    padding: 1rem;
    gap: 0.5rem;
  }

  .actions button {
    width: 100%;
  }
  .actions .languagepicker {
    width: 100%;
  }

  .content {
    padding: 0px;
  }

  .card{
    width: 90%;
  }
}
